<fractal-navbar></fractal-navbar>
<br>
<div class="container">
    <h2>
        <input [(ngModel)]="projectManager.projectData.name" name="projectDataName" contenteditable="true" style="background: darkslategray; color: white; border: none; border-bottom: 1px gray solid; width: 50%">
    </h2>
    <hr>
    <div>
        <a href="javascript:///" class="btn btn-success">{{ 'PAGES.PROJECT_HOME.NEW_SESSION' | translate }}</a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" style="z-index: 1000" role="menu" style="padding-right: 10px;">
            <a class="dropdown-item waves-light" href="javascript:///" (click)="newSessionRandom()">
                <div class="row">
                    <div class="col-1">
                        <i class="bi bi-patch-question-fill list-icon"></i>
                    </div>
                    <div class="col-11 list-item-text">
                        <h5 class="text-muted">{{ 'PAGES.PROJECT_HOME.RANDOM_SPIRAL_SESSION' | translate }}</h5>
                        <p class="text-muted">{{ 'PAGES.PROJECT_HOME.RSS_DESCRIPTION' | translate }}</p>
                    </div>
                </div>
            </a>
            <a class="dropdown-item waves-light" href="javascript:///">
                <div class="row">
                    <div class="col-1">
                        <i class="bi bi-card-list list-icon"></i>
                    </div>
                    <div class="col-11 list-item-text">
                        <h5 class="text-muted">{{ 'PAGES.PROJECT_HOME.GUIDED_SPIRAL_SESSION' | translate }}</h5>
                        <p class="text-muted">{{ 'PAGES.PROJECT_HOME.GSS_DESCRIPTION' | translate }}</p>
                    </div>
                </div>
            </a>
            <a class="dropdown-item waves-light" href="javascript:///">
                <div class="row">
                    <div class="col-1">
                        <i class="bi bi-card-checklist list-icon"></i>
                    </div>
                    <div class="col-11 list-item-text">
                        <h5 class="text-muted">{{ 'PAGES.PROJECT_HOME.ENGRAM_SESSION' | translate }}</h5>
                        <p class="text-muted">{{ 'PAGES.PROJECT_HOME.ENG_SESSION' | translate }}</p>
                    </div>
                </div>
            </a>

        </div>
    </div>
    <br><br>

    <div class="row">
        <div class="col-md-4 card card-body" *ngFor="let session of projectManager.projectData.sessions">
            <h4>{{session.title}}</h4>
            <div *ngIf="session.type === 'rss'">
                <blockquote>{{ 'PAGES.PROJECT_HOME.RANDOM_SPIRAL_SESSION' | translate }}</blockquote>
                <a href="javascript:///" class="btn btn-sm btn-success" (click)="openSession(session.type, session)">Open Session</a>
                <!-- <a href="javascript:///" class="btn btn-sm btn-warning" (click)="runSession(session.type, session)">Run Session</a> -->
            </div>
        </div>
    </div>

</div>
