<fractal-navbar></fractal-navbar>
<br>
<div class="container">
  <p class="text-white">{{ 'PAGES.SPIRAL_EDITOR.TITLE' | translate }}</p>
<h2>
  <input [(ngModel)]="contentManager.loadedSession.title" (blur)="updateSaveContent()" name="projectDataName" contenteditable="true" style="background: darkslategray; color: white; border: none; border-bottom: 1px gray solid; width: 50%">
</h2>
</div>
<br><br>
<div class="row">
  <div class="col-md-6">
    <div id="table" class="table-editable">
      <h3 class="float-left text-white" style="padding-left: 5%;">{{ 'PAGES.SPIRAL_EDITOR.LINES' | translate }}</h3>
      <span class="table-add float-right mb-3 mr-2">
        <a class="btn btn-success btn-sm" (click)="addLine()">
          {{ 'PAGES.SPIRAL_EDITOR.NEW_LINE' | translate }}
        </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center table-dark">
        <tr *ngFor="let line of contentManager.loadedSession.lines.lines; let id = index">
          <td>
            <span (keyup)="changeValue(id, $event)" (blur)="updateList(id, $event)" contenteditable="true">{{line.words}}</span>
            <div class="row">
              <div class="col-md-6">
                <button type="button" mdbBtn color="link" rounded="true" size="sm" class="btn-block text-white" (click)="removeLine(id)">({{ 'PAGES.SPIRAL_EDITOR.REMOVE' | translate }})</button>
              </div>
              <div class="col-md-6">
                <button type="button" mdbBtn color="link" rounded="true" size="sm" class="btn-block text-white" (click)="duplicateLine(line)">({{ 'PAGES.SPIRAL_EDITOR.DUPLICATE' | translate }})</button>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <h3 class="float-left text-white" style="padding-left: 5%;">{{ 'PAGES.SPIRAL_EDITOR.MEDIA' | translate }}</h3>
    <span class="table-add float-right mb-3 mr-2">
      <a class="btn btn-success btn-sm" (click)="addFiles()">
        {{ 'PAGES.SPIRAL_EDITOR.ADD_FILES' | translate }}
      </a>
    </span>
    <table class="table table-bordered table-responsive-md table-striped text-center table-dark">
      <tr *ngFor="let file of contentManager.files; let id = index">
        <td>
          <div class="row">
            <div class="col-md-4">
              <img [src]="'file:///'+file" class="img-fluid">
            </div>
            <div class="col-md-8">
              {{file}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <button type="button" mdbBtn color="link" rounded="true" size="sm" class="btn-block text-white" (click)="removeFile(id)">({{ 'PAGES.SPIRAL_EDITOR.REMOVE' | translate }})</button>
            </div>
            <div class="col-md-6">
              <button type="button" mdbBtn color="link" rounded="true" size="sm" class="btn-block text-white" (click)="duplicateFile(id)">({{ 'PAGES.SPIRAL_EDITOR.DUPLICATE' | translate }})</button>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
