<!--Navbar-->
<div id="fractalBar">
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-dark" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand>&nbsp;</mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    {{ 'PAGES.NAVBAR.FILE' | translate }}<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" style="z-index: 1000" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="javascript:///" (click)="projectManager.initSave()">{{ 'PAGES.NAVBAR.SAVE_PROJECT' | translate }}</a>
                    <div class="divider dropdown-divider" *ngIf="projectManager.nextAction !== 'home'"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#" *ngIf="projectManager.nextAction !== 'home'">{{ 'PAGES.NAVBAR.RETURN_PROJECT_MENU' | translate }}</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">{{ 'PAGES.NAVBAR.NEW_PROJECT' | translate }}</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">{{ 'PAGES.NAVBAR.OPEN_PROJECT' | translate }}</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/">{{ 'PAGES.NAVBAR.CLOSE_PROJECT' | translate }}</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">{{ 'PAGES.NAVBAR.QUIT' | translate }}</a>
                </div>
            </li>
            <li class="nav-item dropdown" dropdown *ngIf="projectManager.inEditor">
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    {{ 'PAGES.NAVBAR.SESSION' | translate }}<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" style="z-index: 1000" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">{{ 'PAGES.NAVBAR.SAVE_SESSION' | translate }}</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/swirl">{{ 'PAGES.NAVBAR.RUN_SESSION' | translate }}</a>
                </div>
            </li>

        </ul>

    </links>
    <!-- Links -->
</mdb-navbar>
<!--/.Navbar-->
</div>
