<!--Navbar-->
<div id="fractalBar">
<div class="navbar navbar-expand-lg navbar-dark bg-dark">

    <!-- Collapsible content -->
    <div class="navbar-collapse">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">

            <!-- Dropdown -->
            <li class="nav-item dropdown" ngbDropdownAnchor>
                <a ngbDropdownToggle type="button" class="nav-link dropdown-toggle waves-light">
                    {{ 'PAGES.NAVBAR.FILE' | translate }}<span class="caret"></span></a>
                <div ngbDropdownMenu class="dropdown-menu dropdown dropdown-primary" style="z-index: 1000" role="menu">
                    <a class="dropdown-item waves-light" href="javascript:///" (click)="projectManager.initSave()">{{ 'PAGES.NAVBAR.SAVE_PROJECT' | translate }}</a>
                    <div class="divider dropdown-divider" *ngIf="projectManager.nextAction !== 'home'"></div>
                    <a class="dropdown-item waves-light" href="javascript:///" (click)="goToMenu()" *ngIf="projectManager.nextAction !== 'home'">{{ 'PAGES.NAVBAR.RETURN_PROJECT_MENU' | translate }}</a>
<!--                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">{{ 'PAGES.NAVBAR.NEW_PROJECT' | translate }}</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">{{ 'PAGES.NAVBAR.OPEN_PROJECT' | translate }}</a>
                    <div class="divider dropdown-divider"></div> -->
                    <a class="dropdown-item waves-light" routerLink="/">{{ 'PAGES.NAVBAR.CLOSE_PROJECT' | translate }}</a>
                    <!-- <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="javascript:///" (click)="electronService.app.quit()">{{ 'PAGES.NAVBAR.QUIT' | translate }}</a> -->
                </div>
            </li>

        </ul>

    </div>
    <!-- Links -->
</div>
<!--/.Navbar-->
</div>
