<fractal-navbar></fractal-navbar>
<br>
<div class="row">
  <div class="col-md-4">
    <div id="table" class="table-editable">
      <h3 class="float-left text-white" style="padding-left: 5%;">Lines</h3>
      <span class="table-add float-right mb-3 mr-2">
        <a class="btn btn-success btn-sm" (click)="add()">
          New Line
        </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center table-dark">
        <tr *ngFor="let line of contentManager.sessionLines.lines; let id = index">
          <td>
            <span (keyup)="changeValue(id, $event)" (blur)="updateList(id, $event)" contenteditable="true">{{line.words}}</span>
            <button type="button" mdbBtn color="link" rounded="true" size="sm" class="btn-block text-white" (click)="remove(id)">(remove)</button>
          </td>
        </tr>
      </table>
  </div>
</div>
