<div class="container">
  <div id="welcome">
      <div class="row">
        <div class="col-md-5">
          <h1 id="logo-text">{{ 'PAGES.HOME.APP_NAME' | translate }}<br><small>Hello there. <br> <br> <br> {{environment}} v{{version}}</small></h1>
        </div>
        <div class="col-md-7">
          <ul class="nav flex-column" id="nav-welcome">
            <li class="nav-item">
              <a class="nav-link" (click)="newProject()" href="javascript:///">{{ 'PAGES.HOME.NEW_PROJECT' | translate }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">{{ 'PAGES.HOME.OPEN_PROJECT' | translate }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">{{ 'PAGES.HOME.CREDITS' | translate }}</a>
            </li>
          </ul>
        </div>
      </div>
  </div>
</div>
